<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiazhe.mapper.DepartmentMapper">

    <!--增加部门-->
    <insert id="addDepartment">
        insert into department (department_id,department_name,note) values (#{depart.departmentId},#{depart.departmentName},#{depart.note})
    </insert>

    <!--删除部门-->
    <delete id="deleteDepartments">
        delete from department where department_id in <foreach collection="ids" item="id" separator="," open="(" close=")">
        #{id}
    </foreach>
    </delete>

    <!--修改部门-->
    <update id="updateDepartment">
        update department set department_name = #{depart.departmentName}, note = #{depart.note} where department_id = #{depart.departmentId}
    </update>

    <!--根据id查找部门（精确）-->
    <select id="queryDepartmentById" resultType="com.xiazhe.bean.Department">
        select department_id as departmentId,department_name as departmentName,note from department where department_id = #{id}
    </select>

    <!--根据id查找部门（模糊）-->
    <select id="queryDepartmentsById" resultType="com.xiazhe.bean.Department">
        select department_id as departmentId,department_name as departmentName,note from department where department_id like '%${id}%'
    </select>

    <!--根据名称查找部门（模糊）-->
    <select id="queryDepartmentsByName" resultType="com.xiazhe.bean.Department">
        select department_id as departmentId,department_name as departmentName,note from department where department_name like '%${name}%'
    </select>

    <!--查找所有部门-->
    <select id="queryAllDepartments" resultType="com.xiazhe.bean.Department">
        select department_id as departmentId,department_name as departmentName,note from department
    </select>

    <!--计算部门总数-->
    <select id="countAllDepartments" resultType="_int">
        select count(department_id) from department
    </select>


</mapper>