<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiazhe.mapper.DeviceTypeMapper">

    <!--查询所有的设备种类-->
    <resultMap id="BaseDeviceType" type="com.xiazhe.bean.DeviceType">
        <result property="deviceTypeId" column="device_type_id"/>
        <result property="deviceTypeName" column="device_type_name"/>
        <result property="deviceTypeModel" column="device_type_model"/>
        <result property="deviceTypeSpec" column="device_type_spec"/>
        <result property="deviceTypeSupplier" column="device_type_supplier"/>
        <result property="deviceTypeProducer" column="device_type_producer"/>
        <result property="deviceTypeQuantity" column="device_type_quantity"/>
        <result property="deviceTypeWarranty" column="device_type_warranty"/>
    </resultMap>
    <sql id="Base_Column_Type">
        device_type_id,device_type_name,device_type_model,device_type_spec,device_type_supplier,
        device_type_producer,device_type_quantity,device_type_warranty
    </sql>
    <select id="queryAllDeviceType" resultMap="BaseDeviceType">
        select 
        <include refid="Base_Column_Type"/>
        from device_type
    </select>

    <!--新增设备种类-->
    <insert id="addDeviceType">
        insert into device_type
        (device_type_id,device_type_name,device_type_model,device_type_spec,device_type_supplier,device_type_producer,device_type_quantity,device_type_warranty)
        values
        (#{deviceType.deviceTypeId},#{deviceType.deviceTypeName},#{deviceType.deviceTypeModel},#{deviceType.deviceTypeSpec},#{deviceType.deviceTypeSupplier},#{deviceType.deviceTypeProducer},#{deviceType.deviceTypeQuantity},#{deviceType.deviceTypeWarranty})
    </insert>

    <!--编辑设备种类-->
    <update id="editDeviceType">
        UPDATE device_type
          SET device_type_name = #{deviceType.deviceTypeName},
          device_type_spec = #{deviceType.deviceTypeSpec},
          device_type_model = #{deviceType.deviceTypeModel},
          device_type_producer = #{deviceType.deviceTypeProducer},
          device_type_supplier = #{deviceType.deviceTypeSupplier},
          device_type_quantity = #{deviceType.deviceTypeQuantity},
          device_type_warranty = #{deviceType.deviceTypeWarranty}
          WHERE
	        device_type_id = #{deviceType.deviceTypeId}
    </update>

    <!--删除设备种类-->
    <delete id="deleteDeviceTypeByIds">
        delete from device_type
        where device_type_id in
        <foreach collection="ids" item="deviceTypeId" separator="," open="(" close=")">
            #{deviceTypeId}
        </foreach>
    </delete>

    <!--通过id查询设备种类-->
    <select id="selectByDeviceTypeId" resultMap="BaseDeviceType">
        select
        <include refid="Base_Column_Type"/>
        from device_type
        where device_type_id like '%${searchValue}%'
    </select>

    <!--通过name查询设备种类-->
    <select id="selectByDeviceTypeName" resultMap="BaseDeviceType">
        select
        <include refid="Base_Column_Type"/>
        from device_type
        where device_type_name like '%${searchValue}%'
    </select>

    <!--selectOne-->
    <select id="selectOneDeviceTypeById" resultMap="BaseDeviceType">
        select
        <include refid="Base_Column_Type"/>
        from device_type
        where device_type_id = #{id}
    </select>

</mapper>