<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiazhe.mapper.DeviceCheckMapper">

    <!--查询所有的设备例检-->
    <resultMap id="BaseDeviceCheck" type="com.xiazhe.bean.DeviceCheck">
        <result column="device_check_id" property="deviceCheckId"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_check_emp_id" property="deviceCheckEmpId"/>
        <result column="device_check_date" property="deviceCheckDate"/>
        <result column="device_check_result" property="deviceCheckResult"/>
        <result column="device_check_fault_id" property="deviceCheckFaultId"/>
        <result column="note" property="note"/>
    </resultMap>
    <sql id="Base_Column_Check">
        device_check_id,device_id,device_check_emp_id,device_check_date,device_check_result,device_check_fault_id
    </sql>
    <select id="queryAllDeviceCheck" resultMap="BaseDeviceCheck">
        select
        <include refid="Base_Column_Check"/>
        from device_check
    </select>
</mapper>