<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiazhe.mapper.ProcessMapper">
  <resultMap id="BaseResultMap" type="com.xiazhe.bean.Process">
    <id column="process_id" jdbcType="VARCHAR" property="processId" />
    <result column="technology_plan_id" jdbcType="VARCHAR" property="technologyPlanId" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="quota" jdbcType="INTEGER" property="quota" />
  </resultMap>
  <sql id="Base_Column_List">
    process_id, technology_plan_id, sequence, quota
  </sql>
  <!--模糊查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from process
    where process_id like
    '%${searchValue}%'
  </select>
  <!--模糊查询byname-->
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process
    where technology_plan_id like
    '%${_parameter}%'
  </select>

  <select id="queryAllProcess" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from process
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from process
    where process_id in
    <foreach collection="ids" item="processId" separator="," open="(" close=")">
      #{processId}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.xiazhe.bean.Process">
    insert into process (process_id, technology_plan_id, sequence, 
      quota)
    values (#{processId,jdbcType=VARCHAR}, #{technologyPlanId,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, 
      #{quota,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.xiazhe.bean.Process">
    update process
    set technology_plan_id = #{technologyPlanId,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      quota = #{quota,jdbcType=INTEGER}
    where process_id = #{processId,jdbcType=VARCHAR}
  </update>

  <select id="queryPlanProcessById" resultMap="BaseResultMap">
    select process_id, technology_plan_id, sequence, quota from process where process_id = #{id}
  </select>
</mapper>